html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', Georgia;
    font-size: 1.6rem;
    line-height: 2;
    font-family: 'Poppins', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*Globales*/

button:hover {
    cursor: pointer;
}

.contenedor {
    margin: 0 auto;
    max-width: 105rem;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
    display: block;
}

ul {
    list-style: none;
}


/*Navegacion*/

.contenedor-navegacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ingreso {
    display: flex;
    justify-content: end;
    align-items: center;
}

nav ul {
    padding: 0;
    max-width: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ingreso button:nth-child(1) {
    background-color: transparent;
    padding: 1rem;
    border: none;
    margin-inline-end: 0.5rem;
}

.ingreso button:nth-child(2) {
    background-color: hsl(180, 66%, 49%);
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: #ffffff;
    border: none;
}


/*Footer*/

.menus {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}


/*acerca-de*/

.acerca-de {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /*
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    */
}

.acerca-de button {
    padding: 1rem 3rem;
    border: none;
    background-color: hsl(180, 66%, 49%);
    color: #ffffff;
    border-radius: 2rem;
}