    html {
        box-sizing: border-box;
        font-size: 62.5%;
    }
    
    body {
        font-family: 'Raleway', Georgia;
        font-size: 1.6rem;
        line-height: 2;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        width: 100%;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    /*Globales*/
    /* 
    img {
        max-width: 100%;
        display: block;
    }
    
    */
    
    button:hover {
        cursor: pointer;
    }
    
    .contenedor {
        margin: 0 auto;
        max-width: 83%;
    }
    
    .text-center {
        text-align: center;
    }
    
    p {
        font-weight: 400;
        color: #2320275e;
    }
    
    a {
        text-decoration: none;
        display: block;
    }
    
    ul {
        list-style: none;
    }
    /*Navegacion*/
    
    .contenedor-navegacion {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .ingreso {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    
    nav ul {
        padding: 0;
        max-width: 40rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .ingreso button:nth-child(1) {
        background-color: transparent;
        padding: 1rem;
        border: none;
        margin-inline-end: 0.5rem;
    }
    
    .ingreso button:nth-child(2) {
        background-color: hsl(180, 66%, 49%);
        border-radius: 2rem;
        padding: 1rem 2rem;
        color: #ffffff;
        border: none;
    }
    /*acerca-de*/
    
    .acerca-de-grid {
        display: grid;
        grid-template-columns: 9fr 1fr;
        gap: 3rem;
        margin-bottom: 5rem;
        padding-bottom: 5rem;
    }
    
    .acerca-de-grid div {
        margin: 0 auto;
        max-width: 43%;
    }
    
    .acerca-de button {
        padding: 1rem 3rem;
        border: none;
        background-color: hsl(180, 66%, 49%);
        color: #ffffff;
        border-radius: 2rem;
    }
    /*Main*/
    
    main {
        background-color: #f0f1f6;
        padding: 2rem;
    }
    
    .shorten {
        background-image: url(./images/bg-shorten-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1rem;
        padding: 3rem;
        border-radius: .5rem;
        background-color: hsl(257, 27%, 26%);
        margin-top: -7rem;
    }
    
    .shorten input {
        padding: 1rem;
        border-radius: 0.3rem;
        border: none;
    }
    
    .shorten button {
        padding: 1rem 3rem;
        border: none;
        background-color: hsl(180, 66%, 49%);
        color: #ffffff;
        border-radius: 1rem;
    }
    
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        padding-bottom: 10rem;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        background-color: #ffffff;
        padding: 1.3rem 2rem;
        border-radius: 0.5rem;
        margin-top: 4rem;
    }
    
    .card:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    
    .card:nth-child(2) {
        grid-column: 2/3;
        grid-row: 2/5;
    }
    
    .card:nth-child(3) {
        grid-column: 3/4;
        grid-row: 3/6;
    }
    
    .card h3 {
        margin-block: 0;
    }
    
    .card p {
        margin-top: 0.2rem;
    }
    
    .card div {
        display: flex;
        background-color: hsl(257, 27%, 26%);
        border-radius: 40px;
        width: 80px;
        height: 80px;
        margin-top: -7rem;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    /*section-get-started*/
    
    .section-get-started {
        display: flex;
        padding: 5rem;
        background-image: url(./images/bg-boost-desktop.svg);
        background-color: hsl(257, 27%, 26%);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    
    .section-get-started h2 {
        color: #ffffff;
        font-weight: 700;
    }
    
    .section-get-started button {
        padding: 1rem 3rem;
        border: none;
        background-color: hsl(180, 66%, 49%);
        color: #ffffff;
        border-radius: 2rem;
    }
    /*Footer*/
    
    .menus {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }
    
    footer {
        color: #ffffff;
        background-color: #232027;
    }
    
    footer h2 {
        padding-top: 0.5rem;
    }
    
    footer div {
        display: grid;
        grid-template-columns: 1fr 9fr;
    }